<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="production.css">
</head>
<body>

  <nav class="site-header position-static py-1">
<!--     <div class="container d-flex flex-column flex-md-row justify-content-between">
       <a class="py-2" href="/">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="150" height="100" viewBox="0 0 148.86 64" fill="none">
          <defs>
            <style>.cls-1{fill:#fff;}.cls-2{fill:#15a6ff;}.cls-3{fill:none;stroke:#15a6ff;stroke-miterlimit:10;stroke-width:5px;}</style>
          </defs>
          <path class="cls-1" d="M46.76,32A27.67,27.67,0,0,0,74.43,59.67l0,1.83A99.7,99.7,0,0,1,3.54,32.19l.37-.37A99.66,99.66,0,0,1,74.41,2.5l0,1.83A27.67,27.67,0,0,0,46.76,32Z"/>
          <path class="cls-1" d="M74.41,2.5a99.67,99.67,0,0,1,70.92,29.32l-.37.37A99.68,99.68,0,0,1,74.45,61.5l0-1.83a27.67,27.67,0,1,0,0-55.34Z"/>
          <path class="cls-1" d="M80.43,38V53.67a6,6,0,1,1-12,0V38a6,6,0,0,1,12,0Z"/>
          <path class="cls-1" d="M74.43,13.76a6.92,6.92,0,1,1-6.91,6.92A6.92,6.92,0,0,1,74.43,13.76Z"/>
          <path class="cls-2" d="M74.43,59.67A27.67,27.67,0,1,1,102.11,32,27.67,27.67,0,0,1,74.43,59.67a6,6,0,0,0,6-6V38a6,6,0,0,0-12,0V53.67A6,6,0,0,0,74.43,59.67Zm6.92-39a6.92,6.92,0,1,0-6.92,6.91A6.92,6.92,0,0,0,81.35,20.68Z"/>
          <path class="cls-3" d="M74.45,61.5A99.68,99.68,0,0,0,145,32.19l.37-.37a99.92,99.92,0,0,0-141.42,0l-.37.37A99.7,99.7,0,0,0,74.45,61.5Z"/>
        </svg>
      </a>
       {{#if user}}
        <a class="py-2 d-none d-md-inline-block" href="/">Dashboard</a>
        <a class="py-2 d-none d-md-inline-block" href="/auth/logout">logout</a>
       {{else}}
        <a class="py-2 d-none d-md-inline-block" href="/auth/login">Login</a>
        <a class="py-2 d-none d-md-inline-block" href="/auth/register">Register</a>
       {{/if}}
     </div>
   </nav>

   {{{body}}}
   <footer class="container py-5">
     <div class="row">
       <div class="col-12 col-md">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
           <circle cx="12" cy="12" r="10"></circle>
           <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
           <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
           <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
           <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
           <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
           <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
         </svg>
         <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
       </div>
       <div class="col-6 col-md">
         <h5>Features</h5>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Cool stuff</a></li>
           <li><a class="text-muted" href="#">Random feature</a></li>
           <li><a class="text-muted" href="#">Team feature</a></li>
           <li><a class="text-muted" href="#">Stuff for developers</a></li>
           <li><a class="text-muted" href="#">Another one</a></li>
           <li><a class="text-muted" href="#">Last time</a></li>
         </ul>
       </div>
       <div class="col-6 col-md">
         <h5>Resources</h5>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Resource</a></li>
           <li><a class="text-muted" href="#">Resource name</a></li>
           <li><a class="text-muted" href="#">Another resource</a></li>
           <li><a class="text-muted" href="#">Final resource</a></li>
         </ul>
       </div>
       <div class="col-6 col-md">
         <h5>Resources</h5>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Business</a></li>
           <li><a class="text-muted" href="#">Education</a></li>
           <li><a class="text-muted" href="#">Government</a></li>
           <li><a class="text-muted" href="#">Gaming</a></li>
         </ul>
       </div>
       <div class="col-6 col-md">
         <h5>About</h5>
         <ul class="list-unstyled text-small">
           <li><a class="text-muted" href="#">Team</a></li>
           <li><a class="text-muted" href="#">Locations</a></li>
           <li><a class="text-muted" href="#">Privacy</a></li>
           <li><a class="text-muted" href="#">Terms</a></li>
         </ul>
       </div>
     </div>
   </footer>
-->
   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
   <script src="../../../../assets/js/vendor/popper.min.js"></script>
   <script src="../../../../dist/js/bootstrap.min.js"></script>
   <script src="../../../../assets/js/vendor/holder.min.js"></script>
   <script>
     Holder.addTheme('thumb', {
       bg: '#55595c',
       fg: '#eceeef',
       text: 'Thumbnail'
     });
   </script>

</body>
</html>
