<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-light">
  <h2 class="page-header">Account Login</h2>
  <form method="post" action="/auth/login">
    <div class="form-group">
      <label>Username</label>
      <input type ="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
