<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-light">
  <h2 class="page-header">Registration</h2>
  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">
        {{msg}}
      </div>
    {{/each}}
  {{/if}}
  <form method="post" action="/auth/register">
    <div class="form-group">
      <label>First name</label>
      <input type ="text" class="form-control" placeholder="First name" name="firstname">
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type ="text" class="form-control" placeholder="Last name" name="lastname">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type ="email" class="form-control" placeholder="Email" name="email">
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type ="text" class="form-control" placeholder="Username" name="username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type ="password" class="form-control" placeholder="Password" name="password2">
    </div>
    <div class="form-group">
      <label>Gender</label><br>
      <input type="radio" name="gender" value="Male" checked> Male<br>
      <input type="radio" name="gender" value="Female"> Female
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
